.MuiButtonBase-root {
    color: black !important;
    display: block;
    position: relative;
}

.MuiPaper-root.productCard:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 3px #c1ffbd;
}

.MuiCardActionArea-focusHighlight {
    background: white !important;
}

.image-gallery-icon:hover {
    color: #ff9ea3 !important;
}

.image-gallery-thumbnail:hover {
    border: 4px solid #ff9ea3 !important;
}
